.dialog-container {
    position: fixed;
    inset: 0;

    background-color: hsla(0, 0%, 0%, 0.3);

    .dialog {
        background-color: hsl(240 20% 30%);

        inline-size: max(50vw, 20rem);
        block-size: max(50vh, 15rem);

        overflow-y: auto;

        position: fixed;
        inset-block-start: 50vh;
        inset-inline-start: 50vw;
        transform: translate(-50%, -50%);

        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;
        row-gap: 4rem;

        border-radius: 0.5rem;
        padding: 2rem 3rem;

        h5,
        b,
        span {
            font-size: 2.4rem;
        }

        a {
            color: hsl(100, 30%, 75%);
        }

        .front-devs-container,
        .back-devs-container,
        .sources-container {
            display: flex;
            gap: 1rem;
        }
    }
}

@media (min-width: 58em) {
    .dialog-container {
        .dialog {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 0;
        }
    }
}
