.project-section {
    block-size: 90vh;

    background-color: hsla(0deg, 0%, 10%, 0.8);

    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 4rem;

    padding: var(--padding-large);
    border-radius: 1rem;
}


@media (min-width: 30em) {
    .project-section {
        grid-template-columns: repeat(2, 1fr);

        //.footer-column {
        //    &:last-of-type {
        //        grid-column: 1/-1;
        //    }
        //}
    }
}
@media (min-width: 64em) {
    .project-section {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 0;

        //.footer-column {
        //    &:nth-of-type(2) {
        //        justify-content: flex-end;
        //    }
        //
        //    &:nth-of-type(3) {
        //        justify-content: center;
        //    }
        //
        //    &:nth-of-type(4) {
        //        justify-content: flex-start;
        //    }
        //
        //    .footer-logo {
        //        align-self: center;
        //    }
        //
        //    &:last-of-type {
        //        grid-column: auto;
        //    }
        //}
    }
}